{% extends 'base.html.twig' %}

{% block title %}
	All categories
{% endblock %}

{% block body %}
	<h1>Toutes les Catégories</h1>

	<div class="container">
		<div class="row">
			{% if categories is empty %}
				<div class="col">
					<p>No categories found</p>
				</div>
			{% else %}
				{% for category in categories %}
					<div class="col-md-6">
						<div class="card my-4">
							<div class="card-body">
								<h5 class="card-title">

									<a href="{{ path('category_show', { 'categoryName': category.name }) }}" class="text-decoration-none">{{ category.name }}</a>
								</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
