{
    frankenphp
}

:80 {
    root * /app/public

    php_server {
        env APP_ENV
        env APP_DEBUG
        env APP_SECRET
        env DATABASE_URL
        env MAILER_DSN
    }

    file_server
}
