<footer class="mt-5 py-5 bg-dark text-light">
	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6">
				<h5 class="text-white mb-3">À propos de nous</h5>
				<p class="small text-white">Brève description de l'entreprise.</p>
				<ul class="list-unstyled small text-white">
					<li class="mb-2">
						<i class="bi bi-envelope-fill me-2 text-white"></i>contact@entreprise.com</li>
					<li>
						<i class="bi bi-telephone-fill me-2 text-white"></i>+1234567890</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6">
				<h5 class="text-white mb-3">Liens utiles</h5>
				<ul class="list-unstyled">
					<li>
						<a class="text-light text-decoration-none" href="#">Accueil</a>
					</li>
					<li>
						<a class="text-light text-decoration-none" href="#">Produits</a>
					</li>
					<li>
						<a class="text-light text-decoration-none" href="#">Blog</a>
					</li>
					<li>
						<a class="text-light text-decoration-none" href="#">À propos</a>
					</li>
					<li>
						<a class="text-light text-decoration-none" href="#">Contact</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6">
				<h5 class="text-white mb-3">Suivez-nous</h5>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#" class="text-white fs-5">
							<i class="bi bi-facebook"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-white fs-5">
							<i class="bi bi-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-white fs-5">
							<i class="bi bi-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-white fs-5">
							<i class="bi bi-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="my-4 bg-secondary">
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="small text-muted mb-0">&copy; 2024 Nom de l'entreprise. Tous droits réservés.</p>
			</div>
		</div>
	</div>
</footer>
