{% extends 'base.html.twig' %}

{% block title %}{{ page_title|raw }}{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="transparent-background text-center">
        <h1 class="display-4">{{ page_title|raw }}</h1>
        <h2 class="display-4">
             Bienvenue sur <span style="color: #890582;">{{ name }}</span><br> 
            qui vous propose les meilleures séries de la culture pop !
        </h2>
        <p class="lead">Découvrez une sélection de séries captivantes issues de la culture pop, soigneusement sélectionnées pour vous.</p>
        <hr class="my-4">
        <p>Explorez notre catalogue et trouvez votre prochaine série préférée.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('program_index') }}" role="button">Voir les séries</a>
    </div>
</div>
{% endblock %}
